
.flexbox{
    display: flex;
    border: 2px solid pink;
    padding: 50px;
    background: darkred

}

.item{
    border: 2px solid ; 
    padding: 20px;
}

#box1{
    justify-content: space-evenly;
    background: 
}
