
.flexbox{
    display: flex;
 
    padding: 50px;
    background: darkred

}

.item{
    border: 2px solid ; 
    padding: 20px;
    background:white;
}
#box2{
    font-weight:300;
    font-style:italic;
    font-size:14px;
    font-family:Impact;
}
#box1{
    justify-content: space-evenly;
    font-weight:300;
    font-style:italic;
    font-size:14px;
    font-family:Impact;
    border-width: 30px;
    border-style: dotted;
    border-color: black;
    border-radius: 5px;
}
  
button{
    background: pink;
    border-radius: 5px;
}
img{
    border-width: 5px;
    border-style: solid;
    border-color: pink;
    border-radius: 5px;
}
p{
    font-weight: bold;
    color: pink;
    font-size:30px;
}
p1{
    font-weight: bold;
    
}
#box3{
    border-style:dotted;
     border-width: 30px;
}
.title{
    font-weight: bold;
    color: pink;
    font-size:30px;

}