
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.flexbox{
    display: flex;
 
    padding: 50px;
    background: darkred

}

.item{
    border: 2px solid ; 
    padding: 20px;
    background:white;
}
#box2{
    font-weight:300;
    font-style:italic;
    font-size:25px;
  font-weight: 400;
   font-style: normal;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#box1{
    justify-content: space-evenly;
    font-weight:300;
    font-style:italic;
    font-size:14px;
    font-family:"impact";
    border-width: 30px;
    border-style: dotted;
    border-color: black;
    border-radius: 5px;
    background: white;
}
  
button{
    background: pink;
    border-radius: 5px;
     font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
img{
    border-width: 5px;
    border-style: solid;
    border-color: pink;
    border-radius: 5px;
}
p{
    font-weight: bold;
    color: pink;
    font-size:30px;
    font-family: "Playwrite NZ Guides", cursive;
}

}
#box3{
    border-style:dotted;
    border-width: 30px;
    
}
.title{
    font-weight: bold;
    color: pink;
    font-size:30px;
    font-family: "Playwrite NZ Guides", cursive;

}

#box2 p {
    font-family: "Playwrite NZ Guides", cursive;
    color:darkred
}
strong{
     color: pink;
      font-family: "Playwrite NZ Guides", cursive;
}
h1{
     font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#box4{
    background: white;

}