
.flexbox{
    display: flex;
 
    padding: 50px;
    background: darkred

}

.item{
    border: 2px solid ; 
    padding: 20px;
}

#box1{
    justify-content: space-evenly;
    font-weight:300;
    font-style:italic;
    font-size:14px;
    font-family:Impact;
  
button{
    background: pink;
    border-radius: 5px;
}
img{
    border-width: 14px;
    border-style: solid;
    border-color: pink;
    border-radius: 5px;
}